@import "tailwindcss";
@plugin "daisyui";



[data-theme="light"] {
  background-color: white !important;
  color: black !important;
}



html[data-theme="light"] {
  background-color: white !important;
  color: black;
}
